h1 {
    font-family: 'Courier New', Courier, monospace;
   
}

.index-heading {
    text-align: center;
}

.home-link {
    color: black;
}


  .recipe-hyperlinks {
    text-align: center;
    
}  

.recipe-link {
    display: inline;
    padding: auto;
    margin: 10px;
    text-align: center;
    border: 5px dotted black;



}
